joblib==1.5.3
matplotlib==3.11.1
numpy==2.5.2
opencv-python==5.0.0.93
pillow==12.3.0
scikit-learn==1.9.0
scipy==1.18.1
torch==2.9.1+cu126
torchvision==0.24.1+cu126
tqdm==4.70.0
ultralytics==8.4.130
